.markdown-display pre > code {
  display: block;
  border: 1px solid #383a3b;
  font-family: var(--font-jetbrains-mono);
  border-radius: 0.5rem;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.markdown-display pre > code::after {
  pointer-events: none;
  position: absolute;
  inset: -1px;
  left: 3rem;
  display: block;
  border-radius: 0.5rem;
  border: 1px solid #383a3b;
  content: '';
  background: rgba(0, 0, 0, 0.05);
}

.markdown-display pre > code::before {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  min-width: 3rem;
  padding: 1rem;
  text-align: right;
  font-family: var(--font-jetbrains-mono);
  content: attr(data-gutter);
}

.markdown-display blockquote {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  padding: 1rem;
}
